* {
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, sans-serif;
}

body {
    font-family: 'Alegreya Sans', Georgia, sans-serif;
    margin: 0;
    font-size: 15px;
}

h1 {
    font-family: 'Raleway', Helvetica, sans-serif; 
    color: #D4B26A;
}

a > .fa {
    padding-right: 5px; 
}

#banner-quote{
    width: 100%;
    font-size: 20px;
}

.nw-accent-color {
    color: #D46D6A;
}

.nw-bar {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
}

.nw-bar .nw-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    outline: none;
    display: block;

}

.nw-bgimg {
    background-image: url("home_banner_image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    min-height: 400px;
    max-height: 500px;
}

.nw-button {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;

    transition: all 0.2s ease-in-out;
}

.nw-button:hover {
    background-color: #0D4A4D;
}

.nw-container {
    padding: 0.1em 16px;
}

.nw-display-container {
    position: relative;
}

.nw-display-bottomright {
    position: absolute;
    right: 0;
    bottom: 0;
}

.nw-display-middle {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nw-opacity-80{
    opacity: .80;
}

.nw-primary-background {
    background-color: #236863;
    color: #dedede;
}

.nw-right {
    float: right!important;
}

.nw-secondary-color {
    color: #D4B26A;
}

.nw-top {
    position: fixed;
    top: 0;
}

.nw-transparent-bg, .nw-transparent-bg:hover {
    background-color: transparent!important;
}

.nw-white {
    color: #dedede;
}

[class*="col-"] {
    width: 100%;
}

/* media */
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    #banner-quote {
        width: 50%;    
    }
}

@media (min-width: 993px) {
    .nw-hide-large {
        display: none!important;
    }
}

@media (max-width: 992px) and (min-width: 601px){
    .nw-hide-medium {
        display: none!important;
    }
}
/* end media */
